body
{
    background-color:tomato;


}
main
{
    text-align: center;
    color:whitesmoke;
    font-size: 22px;
    width: 30%;
margin-top: 3%;
padding-left: 33%;
}
main p
{
    line-height: 160%;
}
header,footer
{
    background-color:greenyellow;
    text-align: center;
}
h1
{
    font-size: 26px;
    font-weight: bolder;
}

ol
{
    list-style-type: decimal;
    line-height: 170%;

}
ul
{
    list-style-type: square;
    line-height: 170%;
}

.about p
{
    background-color: black;
}

div{
    margin-bottom: 3%;
}