body
{
    background-color:tomato;
    width: 30%;
margin-top: 16%;
padding-left: 33%;
}
main
{
    text-align: center;
    color:whitesmoke;
    font-size: 22px;
}
main p
{
    line-height: 160%;
}
header,footer
{
    background-color:greenyellow;
    text-align: center;
}
h1
{
    font-size: 26px;
    font-weight: bolder;
}